
.container {
  width: 500px;
  height: 370px;
  border: 1px solid #fff;
  position: relative;
  margin: auto;
}

.container img {
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.coverImage {
  position: absolute;
  background: url("https://www.dropbox.com/s/t96792sp9ab2r8m/IMG_0280.PNG?raw=1");
  background-size: auto 100%;
  width: 40%;
  height: 100%;
}

.handle {
  width: 0px;
  height: 100%;
  border-left: 5px solid #fff;
  position: absolute;
  left: 40%;
}

.handle:after {
  content:"";
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #eee;
  border-radius: 50%;
  color: #999;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  background: #fff;
  position: absolute;
  left: -20px; top: 0; bottom: 0;
  margin: auto;
}