

.container {			
	max-width: 960px;
	margin: 0 auto;
	padding: 0 0.75rem;
}



.beer-slider[data-beer-label]:after,
.beer-reveal[data-beer-label]:after {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	font-weight: bold;
	color:#333;
}



